.App {
  text-align: center;
}

button, input[type='text'] {
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 10px;
}

.hook-container {
  display: flex;
  margin-top: 25px;
  justify-content: center;
  flex-flow: row wrap;
}

.hook-subcontainer {
  padding: 25px;
  border-right: 1px solid black;
}

.hook-subcontainer:last-child {
  border-right: none;
}
 p {
   margin: 0;
 }